/**
 * Soulmakers Frontend Styles
 *
 * @package Soulmakers
 * @since   1.0.0
 */

/* ==========================================================================
   CSS Custom Properties (Variablen)
   ========================================================================== */

:root {
  /* Farben */
}

/* ==========================================================================
   Basis-Styles
   ========================================================================== */

@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    hyphens: auto;
  }
}

/* ==========================================================================
   Komponenten
   ========================================================================== */

@media (max-width: 767px) {
  [id^="tmea-shape-divider-"] svg {
    height: 40px !important;
  }
}
