/**
 * Soulmakers Frontend Styles
 *
 * @package Soulmakers
 * @since   1.0.0
 */

/* ==========================================================================
   CSS Custom Properties (Variablen)
   ========================================================================== */

:root {
  /* Farben */
}

/* ==========================================================================
   Basis-Styles
   ========================================================================== */

/* ==========================================================================
   Komponenten
   ========================================================================== */

@media (max-width: 767px) {
  [id^="tmea-shape-divider-"] svg {
    height: 40px !important;
  }
}
